@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hof-container {
  padding: 20px;
}

h1.text-center {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.records-section {
  margin-top: 20px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #007bff;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.card.bad-stat {
  background-color: #f8d7da;
  color: #721c24;
}

.card-icon {
  margin-bottom: 10px;
}

.card-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  margin-top: 10px;
}
