@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add to your CSS file */
.card {
  background-color: #3b82f6; /* Default color for the good stats */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  width: 200px;
  transition: background-color 0.3s ease;
}

.card.bad-stat {
  background-color: #f87171; /* Red color for the "bad" stats */
}

.card h3.stat-value {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.records-section {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
